.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

/* MOBILE */
@media screen and (max-width: 680px) {
  .App {
    width: 100vw;
    align-items:flex-start;
  }
}